# Основные настройки
PROJECT_NAME=Video Processing API
API_V1_STR=/api/v1
DEBUG=True

# MinIO настройки
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Пути
MEDIA_DIR=media 

DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=smart_house