# Основные настройки
PROJECT_NAME=Video Processing API
API_V1_STR=/api/v1
DEBUG=True
HOST_IP=127.0.0.1
HOST_PORT=8080
ALLOW_ORIGINS=http://localhost:5173

# MinIO настройки
MINIO_ENDPOINT=89.105.137.28:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=video-stream

# DB
DB_USER=user
DB_PASSWORD=password
DB_HOST=pg
DB_PORT=5432
DB_NAME=smart_house
REDIS_URL=redis://redis:6379

# Webhook
MANAGMENT_SERVICE_ENDPOINT_WEBHOOK=https://webhook.bitpace.com/6853677a

# Пути
MEDIA_DIR=media 